include ../includes/head.jade
	div#home_message.jumbotron
		h1=title_text
		p Will make you feel <span>WOW!!!</span> with the help of small puzzle game
		p
			a.btn.btn-primary.btn-lg.continue_next.toletsbegin
				| Let's see how it works!
