html
	head
		title=title_text
		link(rel='stylesheet', href='/stylesheet/style.css')
		link(rel='stylesheet', href='/stylesheet/animate.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
		script(type='text/javascript',src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(type='text/javascript', src='/jquery/client.js')
		script(type='text/javascript', src='/jquery/jquery.fittext.js')
		script(type='text/javascript', src='/jquery/jquery.lettering.js')
		script(type='text/javascript', src='/jquery/jquery.textillate.js')
		script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	body
